services:
  app:
    image: ghcr.io/saaste/pastebin:latest
    container_name: pastebin
    restart: unless-stopped
    volumes:
      - ./documents.yaml:/app/documents.yaml
      - ./config.yaml:/app/config.yaml
    ports:
      - "8000:8000"