@font-face {
    font-family: 'Roboto Mono';
    src: url('../fonts/roboto-mono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ---- VARIABLES ---- */
:root {
    --font-family: "Roboto Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --color-body-background: rgb(39, 41, 53);
    --color-body-text: rgb(248, 248, 242);
    --color-input-background: hsl(33, 13%, 27%);
    --color-input-invalid-background: hsl(3, 36%, 26%);
    --color-input-border: hsl(33, 13%, 50%);
    --color-input-invalid-border: hsl(3, 36%, 49%);
    --color-button-save-background: rgb(98, 110, 42);
    --color-button-save-border: hsl(71, 45%, 50%);
    --color-button-delete-background: rgb(110, 42, 42);
    --color-button-delete-border: hsl(0, 45%, 50%);
    --color-link: rgb(255, 184, 108);
    --color-copied: rgb(167, 255, 108);
    --color-block: hsl(231, 15%, 15%);
    --color-form-error: rgb(253, 176, 176);
    --color-delete: rgb(255, 0, 0);

    --link-text-shadow: 0 0 5px rgba(255, 184, 108, 0.7);
    --form-error-text-shadow: 0 0 5px rgba(255, 108, 108, 0.7);
    --copied-text-shadow: 0 0 5px rgba(167, 255, 108, 0.7);

    --font-size-h1: clamp(1.4rem, 1.4rem + 1.5vw, 2.5rem);
    --font-size-h2: clamp(1.2rem, 1.2rem + 1.5vw, 1.5rem);

    --separator: 2px dotted rgb(76, 80, 103);
}

/* ---- GLOBAL ELEMENTS ---- */
body {
    background: var(--color-body-background);
    color: var(--color-body-text);
    font-family: var(--font-family);
    line-height: 130%;
    height: 100vh;
    display: grid;
    justify-items: center;
}

main {
    padding: 1rem;   
}

label {
    padding-bottom: 0.5rem;
}

input,
select {
    background-color: var(--color-input-background);
    color: var(--color-body-text);
    border: 1px solid var(--color-input-border);
    padding: 0.3rem;
    border-radius: 5px;
    font-size: 1rem;

    &:required:invalid {
        background-color: var(--color-input-invalid-background);
        border: 1px solid var(--color-input-invalid-border)
    }
}

button {
    color: var(--color-body-text);
    background-color: var(--color-input-background);
    border: 1px solid var(--color-input-border);
    font-family: var(--font-family);
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    width: fit-content;

    &[value="save"] {
        
        background-color: var(--color-button-save-background);
        border: 1px solid var(--color-button-save-border);
    }

    &[value="delete"] {
        background-color: var(--color-button-delete-background);
        border: 1px solid var(--color-button-delete-border);
    }
}

a {
    color: var(--color-link);

    &:hover,
    &:focus {
        text-shadow: var(--link-text-shadow);
    }
}

h1 {
    font-size: var(--font-size-h1);
    line-height: 1.2em;
}

h2 {
    font-size: var(--font-size-h2);
}

/* ---- NAMED ELEMENTS ----- */
.page-container {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    width: min(100%, 1200px);
    height: 100%;
}

header {
    display: grid;
    grid-template-columns: auto min-content;
    align-items: center;
    padding: 1rem;
    border-bottom: var(--separator);
}

footer {
    text-align: center;
    padding: 1rem 0;
    border-top: var(--separator);
}

nav {
    & ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    & li {
        white-space: nowrap;
    }
}

.login-form {
    max-width: 300px;
}

.document-list {
    display: flex;
    flex-direction: column;
}

.document {
    background-color: var(--color-block);
    padding: 1rem;

    &+.document {
        margin-top: 2rem;
    }

    & h2 {
        margin-bottom: 0.8rem;
    }
}

.editor-form {
    height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.document-details {
    padding: 1rem 0;
    margin-top: 1rem;
    border-top: var(--separator);
}

.editor-actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;

    & *:last-child {
        justify-self: end;
    }
}

.back {
    display: block;
    margin-bottom: 1rem;
}

.editor {
    height: 100%;
}

input[name="name"] {
    max-width: 80ch;
}

select[name="syntax"] {
    width: fit-content;
}

input[name="public_path"] {
    max-width: 30ch;
}

.raw-container {
    display: grid;
    grid-template-rows: min-content 1fr;
    height: 100%;
    padding-bottom: 1rem;
}

.copy-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    align-items: baseline;
    justify-content: flex-start;
}

.copied {
    opacity: 0;
    color: var(--color-copied);
    text-shadow: var(--copied-text-shadow);
}

.raw-content {
    margin-top: 1rem;
    height: 100%;
}



/* ---- HELPERS ----- */
.form-error {
    color: var(--color-form-error);
    text-shadow: var(--form-error-text-shadow);
    margin: 1rem 0;
    background-color: var(--color-block);
    padding: 1rem;
}

.input-group {
    display: flex;
    flex-direction: column;

    & + .input-group {
        margin-top: 0.5rem;
    }

    &.checkbox {
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;

        & input {
            order: 1;
            margin: 0;
        }

        & label {
            order: 2;
            padding: 0;
        }
    }

    &.button {
        flex-direction: row;
        gap: 1rem;
    }
}

.fadeout {
    animation: fadeOut 3s;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }

.hidden {
    display: none;
}