{{- define "content" -}}
<form method="post" action="/edit/{{ .CurrentDocument.Id }}" class="editor-form" id="document-form">
    <div class="editor-actions">
        <a href="/" class="back">≪ Back to list</a>
        <div class="input-group checkbox">
            <label for="wrap">Wrap</label>
            <input type="checkbox" id="wrap">
        </div>
    </div>

    <div class="editor-container">
        <div id="editor" class="editor">{{ .CurrentDocument.Content }}</div>
        <textarea name="content" id="content" class="hidden">{{ .CurrentDocument.Content }}</textarea>
    </div>

    <div class="document-details">
        {{- with .Error -}}
        <div class="form-error">
            {{.}}
        </div>
        {{- end -}}
        <div class="input-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="{{ .CurrentDocument.Name }}" autocomplete="off" placeholder="Required" required>
        </div>
        <div class="input-group">
            <label for="syntax">Syntax</label>
            <select name="syntax" id="syntax">
                {{ range .SupportedSyntaxes}}
                <option value="{{ . }}" {{ if eq . $.CurrentDocument.Syntax }}selected="selected"{{ end }}>{{ . }}</option>
                {{ end }}
            </select>
        </div>
        <div class="input-group checkbox">
            <label for="is_public">Is public</label>
            <input type="checkbox" name="is_public" id="is_public" {{ if .CurrentDocument.IsPublic }}checked{{ end }}>
        </div>
        <div class="input-group public-path-container">
            <label for="public_path">URL Path</label>
            <input type="text" name="public_path" id="public_path" value="{{ .CurrentDocument.PublicPath }}" autocomplete="off" placeholder="Required">
        </div>
        <div class="input-group button">
            <button type="submit" name="action" value="save">Save</button>
            <button type="submit" name="action" value="delete" id="delete">Delete</button>
        </div>
    </div>
</form>
{{- end -}}